In [106]:
import numpy as np
import pandas as pd
from collections import Counter

In [107]:
df = pd.read_csv("iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [109]:
df.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal.length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal.width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal.length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal.width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

In [110]:
train_ratio = 0.8  # 80% treningowy, 20% testowy
df = df.sample(frac=1, random_state=42).reset_index(drop=True)
df.head()

   sepal.length  sepal.width  petal.length  petal.width     variety
0           6.1          2.8           4.7          1.2  Versicolor
1           5.7          3.8           1.7          0.3      Setosa
2           7.7          2.6           6.9          2.3   Virginica
3           6.0          2.9           4.5          1.5  Versicolor
4           6.8          2.8           4.8          1.4  Versicolor

In [111]:
train_size = int(len(df) * train_ratio)
train_df = df.iloc[:train_size]
test_df = df.iloc[train_size:]

print(f"Rozmiar zbioru treningowego: {train_df.shape}")
print(f"Rozmiar zbioru testowego: {test_df.shape}")

Rozmiar zbioru treningowego: (120, 5)
Rozmiar zbioru testowego: (30, 5)

In [112]:
def euclidean_distance(point1, point2):
    return np.sqrt(np.sum((np.array(point1) - np.array(point2))**2))

In [113]:
def knn_predict(training_data, training_labels, test_point, k):
    distances = [(euclidean_distance(test_point, training_data[i]), training_labels[i]) for i in range(len(training_data))]
    distances.sort(key=lambda x: x[0])
    k_nearest_labels = [label for _, label in distances[:k]]
    return Counter(k_nearest_labels).most_common(1)[0][0]

In [114]:
features = df.columns[:-1]
target = df.columns[-1]

data_train = train_df[features].values
target_train = train_df[target].values
data_test = test_df[features].values
taregt_test = test_df[target].values

print("Rozkład klas w zbiorze treningowym:")
print(pd.Series(target_train).value_counts())

print("Rozkład klas w zbiorze testowym:")
print(pd.Series(taregt_test).value_counts())

Rozkład klas w zbiorze treningowym:
Setosa        43
Versicolor    39
Virginica     38
Name: count, dtype: int64
Rozkład klas w zbiorze testowym:
Virginica     12
Versicolor    11
Setosa         7
Name: count, dtype: int64

In [115]:
k_values = [2, 3, 4]
for k in k_values:
    predictions = [knn_predict(data_train, target_train, test_point, k) for test_point in data_test]
    accuracy = np.mean(np.array(predictions) == taregt_test)
    print(f"k={k}, Accuracy: {accuracy:.4f}")

k=2, Accuracy: 0.9667
k=3, Accuracy: 0.9667
k=4, Accuracy: 0.9667